  .post-cards-dashboard {
      margin: 30px;
  }

  .mat-mdc-card {
      background-color: white;
      border: 1px solid grey;
  }

  .post-card {
      max-width: 400px;
      margin: 10px;
  }

  .post-card-image {
      margin-top: 10px;
  }

  .post-card-subtitle {
      color: black;
  }

  .post-card-icon-button {
      margin-right: 10px;
      margin-left: 10px;
  }

  .post-card-content {
      padding: 10px;
  }