<div class="post-cards-dashboard" fxLayoutAlign="start stretch" fxLayout="row wrap" fxLayoutGap>
    <mat-card class="post-card">
        <mat-card-header fxLayoutAlign="center center" fxLayout="column">
            <mat-card-title fxLayoutAlign="center center">47:35</mat-card-title>
            <mat-card-subtitle class="post-card-subtitle" fxLayoutAlign="center center">This is the next
                post</mat-card-subtitle>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
        </mat-card-header>
        <img class="post-card-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
        <mat-card-content class="post-card-content">
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
            <button mat-mini-fab color="primary" class="post-card-icon-button">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" class="post-card-icon-button">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab class="post-card-icon-button">
                <mat-icon>publish</mat-icon>
            </button>
            <button mat-mini-fab color="primary" class="post-card-icon-button">
                <mat-icon>schedule</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="post-card" fxLayout="column" *ngFor="let item of [1,2,3,4,5]">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu" fxFlex="initial">
        <mat-card-content class="post-card-content" fxFlex="auto">
            <p>
                The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
                A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
                bred for hunting.
            </p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
            <button mat-mini-fab color="primary" class="post-card-icon-button">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" class="post-card-icon-button">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>