<div class="post-cards-dashboard" fxLayoutAlign="start stretch" fxLayout="row wrap" fxLayoutGap>
    <mat-card class="post-card">
        <mat-card-header fxLayoutAlign="center center" fxLayout="column">
            <mat-card-title fxLayoutAlign="center center">47:35</mat-card-title>
            <mat-card-subtitle class="post-card-subtitle" fxLayoutAlign="center center">This is the next
                post</mat-card-subtitle>
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        </mat-card-header>
        <img class="post-card-image" mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
            alt="Photo of a Shiba Inu">
        <mat-card-content class="post-card-content">
            <p>
                {{cardContent}}
            </p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
            <button mat-mini-fab color="primary" class="post-card-icon-button" (click)="editPostCard()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" class="post-card-icon-button" (click)="deletePostCard()">
                <mat-icon>delete</mat-icon>
            </button>
            <button mat-mini-fab class="post-card-icon-button" (click)="publishPostCard()">
                <mat-icon>publish</mat-icon>
            </button>
            <button mat-mini-fab color="primary" class="post-card-icon-button">
                <mat-icon>schedule</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
    <mat-card class="post-card" fxLayout="column" *ngFor="let item of [1,2,3,4,5]">
        <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"
            fxFlex="initial">
        <mat-card-content class="post-card-content" fxFlex="auto">
            <p>
                {{cardContent}}
            </p>
        </mat-card-content>
        <mat-card-actions fxLayoutAlign="center center">
            <button mat-mini-fab color="primary" class="post-card-icon-button" (click)="editPostCard()">
                <mat-icon>edit</mat-icon>
            </button>
            <button mat-mini-fab color="warn" class="post-card-icon-button" (click)="deletePostCard()">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>
</div>